---
import Header from "@/components/events/bwai-26/Header.astro"
import CredentialCard from "@/components/events/iwd-26/CredentialCard"

import BaseLayout from "@/layout/BaseLayout.astro"

import { getProfile } from "@/lib/services/profileService"
import { getEventRegistration } from "@/lib/services/registrationService"
import { createUserClient } from "@/lib/supabase"

const supabase = await createUserClient(Astro.cookies)
const profile = await getProfile(supabase)
if (!profile) return Astro.redirect("/")

const registration = await getEventRegistration(supabase, profile?.id, Astro.params.eventSlug || "")
if (!registration) return Astro.redirect("/")

if (registration?.status !== "confirmed")
  return Astro.redirect(`/registro/${Astro.params.eventSlug}`)
---

<BaseLayout theme="light">
  <Header />
  <main class="mt-16 pt-12 flex">
    <div class="mx-auto px-4">
      <CredentialCard
        client:load
        avatarUrl={profile.avatar_url}
        firstName={profile.first_name}
        lastName={profile.last_name}
        role={registration.role || "Asistente"}
        handle={profile.email}
        enableTilt={true}
        enableMobileTilt={false}
        innerGradient={"/events/iwd-26/bg-credencial.svg"}
        grainUrl="/grain.webp"
        qrUrl={registration?.qr_url}
      />
    </div>
  </main>
</BaseLayout>
