---
import "../styles/global.css"

import CommandMenu from "@/components/CommandMenu"
import { getProfile } from "@/lib/services/profileService"
import { createUserClient } from "@/lib/supabase"

const supabase = await createUserClient(Astro.cookies)
const profile = await getProfile(supabase)
const isAdmin = !!profile?.is_admin

const {
  theme,
  title = "Google Developer Group Sucre",
  description = "Google Developer Group Sucre",
  ogTitle = title,
  ogDescription = description,
  ogImage = "/og.png",
} = Astro.props
---

<html lang="es" class={theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <ThemeScript /> -->

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content={new URL(ogImage, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={ogTitle} />
    <meta property="twitter:description" content={ogDescription} />
    <meta property="twitter:image" content={new URL(ogImage, Astro.url)} />
  </head>

  <body class="min-h-screen flex flex-col font-google bg-white dark:bg-[#232323] dark:text-white">
    {isAdmin && <CommandMenu isAdmin={isAdmin} client:load />}
    <slot />
  </body>
</html>
